html, body {
  height: 100%;
  font-size: 12px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  background: #05232D; }

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 800px;
  height: 600px; }
  .container .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .container .controller {
    width: 100%;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 50%;
    margin-top: -3.1rem; }
    .container .controller .left, .container .controller .right {
      position: relative;
      width: 3.1rem;
      height: 3.1rem;
      border: 3px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: pointer;
      margin: 20px;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
      .container .controller .left:hover, .container .controller .right:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .container .controller .left:after, .container .controller .right:after {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -1.1rem;
        content: '';
        width: 0;
        height: 0; }
    .container .controller .left:after {
      margin-left: -1rem;
      border-top: 1.1rem solid transparent;
      border-bottom: 1.1rem solid transparent;
      border-right: 1.5rem solid rgba(255, 255, 255, 0.2); }
    .container .controller .right:after {
      margin-left: -0.5rem;
      border-top: 1.1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1.5rem solid rgba(255, 255, 255, 0.2); }
  .container .desc {
    position: absolute;
    width: 100%;
    bottom: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0; }
    .container .desc a {
      color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 2rem; }
    .container .desc a:hover {
      color: rgba(255, 255, 255, 0.3); }
    .container .desc a.title {
      font-size: 1.5rem;
      font-weight: bold; }

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    height: 75vw; }
    .container .desc {
      bottom: -2rem; }
      .container .desc a {
        font-size: 1rem;
        line-height: 1.5rem; }
      .container .desc a.title {
        font-size: 1.2rem; } }
